<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletRegistracija</servlet-name>
        <servlet-class>servleti.ServletRegistracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOdjava</servlet-name>
        <servlet-class>servleti.ServletOdjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrijava</servlet-name>
        <servlet-class>servleti.ServletPrijava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminPrikazKorisnika</servlet-name>
        <servlet-class>servleti.ServletAdminPrikazKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletKorisnikObrisi</servlet-name>
        <servlet-class>servleti.ServletKorisnikObrisi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminIzmenaKorisnika</servlet-name>
        <servlet-class>servleti.ServletAdminIzmenaKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajKorisnika</servlet-name>
        <servlet-class>servleti.ServletAdminDodajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminPrikazDelova</servlet-name>
        <servlet-class>servleti.ServletAdminPrikazDelova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajGpu</servlet-name>
        <servlet-class>servleti.ServletAdminDodajGpu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajKuciste</servlet-name>
        <servlet-class>servleti.ServletAdminDodajKuciste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajKuler</servlet-name>
        <servlet-class>servleti.ServletAdminDodajKuler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajMaticnu</servlet-name>
        <servlet-class>servleti.ServletAdminDodajMaticnu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajMemoriju</servlet-name>
        <servlet-class>servleti.ServletAdminDodajMemoriju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajProcesor</servlet-name>
        <servlet-class>servleti.ServletAdminDodajProcesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajNapajanje</servlet-name>
        <servlet-class>servleti.ServletAdminDodajNapajanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDodajRAM</servlet-name>
        <servlet-class>servleti.ServletAdminDodajRAM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminDeoObrisi</servlet-name>
        <servlet-class>servleti.ServletAdminDeoObrisi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminIzmeniDeo</servlet-name>
        <servlet-class>servleti.ServletAdminIzmeniDeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminPrikazDelovaKonfig</servlet-name>
        <servlet-class>servleti.ServletAdminPrikazDelovaKonfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIzmenaProfila</servlet-name>
        <servlet-class>servleti.ServletIzmenaProfila</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminPrikazKonfiguracija</servlet-name>
        <servlet-class>servleti.ServletAdminPrikazKonfiguracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminObrisiKonfiguraciju</servlet-name>
        <servlet-class>servleti.ServletAdminObrisiKonfiguraciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminIzmenaKonfiguracije</servlet-name>
        <servlet-class>servleti.ServletAdminIzmenaKonfiguracije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrikazKomentara</servlet-name>
        <servlet-class>servleti.ServletPrikazKomentara</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOdgovorKomentar</servlet-name>
        <servlet-class>servleti.ServletOdgovorKomentar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletKomentarObrisi</servlet-name>
        <servlet-class>servleti.ServletKomentarObrisi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMojeKonfiguracije</servlet-name>
        <servlet-class>servleti.ServletMojeKonfiguracije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazDelova</servlet-name>
        <servlet-class>servleti.PrikazDelova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUporedi</servlet-name>
        <servlet-class>servleti.ServletUporedi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUrednikOdobravanjeKonfig</servlet-name>
        <servlet-class>servleti.ServletUrednikOdobravanjeKonfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOdobriKonfig</servlet-name>
        <servlet-class>servleti.ServletOdobriKonfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOdbijKonfig</servlet-name>
        <servlet-class>servleti.ServletOdbijKonfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPosaljiPorukuKorisnik</servlet-name>
        <servlet-class>servleti.ServletPosaljiPorukuKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrikazPorukaKorisnika</servlet-name>
        <servlet-class>servleti.ServletPrikazPorukaKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrikazPorukaUrednika</servlet-name>
        <servlet-class>servleti.ServletPrikazPorukaUrednika</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistracija</servlet-name>
        <url-pattern>/ServletRegistracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOdjava</servlet-name>
        <url-pattern>/ServletOdjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrijava</servlet-name>
        <url-pattern>/ServletPrijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminPrikazKorisnika</servlet-name>
        <url-pattern>/ServletAdminPrikazKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKorisnikObrisi</servlet-name>
        <url-pattern>/ServletKorisnikObrisi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminIzmenaKorisnika</servlet-name>
        <url-pattern>/ServletAdminIzmenaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajKorisnika</servlet-name>
        <url-pattern>/ServletAdminDodajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminPrikazDelova</servlet-name>
        <url-pattern>/ServletAdminPrikazDelova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajGpu</servlet-name>
        <url-pattern>/ServletAdminDodajGpu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajKuciste</servlet-name>
        <url-pattern>/ServletAdminDodajKuciste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajKuler</servlet-name>
        <url-pattern>/ServletAdminDodajKuler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajMaticnu</servlet-name>
        <url-pattern>/ServletAdminDodajMaticnu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajMemoriju</servlet-name>
        <url-pattern>/ServletAdminDodajMemoriju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajProcesor</servlet-name>
        <url-pattern>/ServletAdminDodajProcesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajNapajanje</servlet-name>
        <url-pattern>/ServletAdminDodajNapajanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDodajRAM</servlet-name>
        <url-pattern>/ServletAdminDodajRAM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminDeoObrisi</servlet-name>
        <url-pattern>/ServletAdminDeoObrisi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminIzmeniDeo</servlet-name>
        <url-pattern>/ServletAdminIzmeniDeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminPrikazDelovaKonfig</servlet-name>
        <url-pattern>/ServletAdminPrikazDelovaKonfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIzmenaProfila</servlet-name>
        <url-pattern>/ServletIzmenaProfila</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminPrikazKonfiguracija</servlet-name>
        <url-pattern>/ServletAdminPrikazKonfiguracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminObrisiKonfiguraciju</servlet-name>
        <url-pattern>/ServletAdminObrisiKonfiguraciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminIzmenaKonfiguracije</servlet-name>
        <url-pattern>/ServletAdminIzmenaKonfiguracije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrikazKomentara</servlet-name>
        <url-pattern>/ServletPrikazKomentara</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOdgovorKomentar</servlet-name>
        <url-pattern>/ServletOdgovorKomentar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKomentarObrisi</servlet-name>
        <url-pattern>/ServletKomentarObrisi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMojeKonfiguracije</servlet-name>
        <url-pattern>/ServletMojeKonfiguracije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazDelova</servlet-name>
        <url-pattern>/PrikazDelova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUporedi</servlet-name>
        <url-pattern>/ServletUporedi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUrednikOdobravanjeKonfig</servlet-name>
        <url-pattern>/ServletUrednikOdobravanjeKonfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOdobriKonfig</servlet-name>
        <url-pattern>/ServletOdobriKonfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOdbijKonfig</servlet-name>
        <url-pattern>/ServletOdbijKonfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPosaljiPorukuKorisnik</servlet-name>
        <url-pattern>/ServletPosaljiPorukuKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrikazPorukaKorisnika</servlet-name>
        <url-pattern>/ServletPrikazPorukaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrikazPorukaUrednika</servlet-name>
        <url-pattern>/ServletPrikazPorukaUrednika</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
